__pycache__/
scipy_optimize/
TOPPRA/
Old_Codes/
MUJOCO_LOG.TXT
data_plots.npy
plot_data_plots.py
get_data_plots.py
get_commands.py
commands.npy
commands.json
commands_json_doc.txt
Codes/hind_legs_testing.py
Codes/inv_kin_adj.py
resources/solo12_gen.xml
generated_trajectory.py